@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;500;700&family=Roboto:wght@400;500;700&family=Unica+One&display=swap');

*,
*::before,
*::after{
  box-sizing: border-box;
}

* {
  padding:0;
  margin:0;
}

:root{
  --bg-color: #140D27;
  --background-button: linear-gradient(
    270deg,
    #903aff 0%,
    #d434fe 56.42%,
    #ff26b9 99.99%,
    #fe34b9 100%
  );
  --container-width:100%;
  --main-display:flex;
  --white:#fff;
  --font-one: 'Clash Display', sans-serif;
  --font-two:'Montserrat', sans-serif;
  --purple:#D434FE;
  --border: 1px solid gray;
}

/* .container{
  height:100vh;
  
} */


.header{
  display:var(--main-display);
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bg-color);
  width:var(--container-width);
  padding-top:3.5rem;
  padding-bottom:1.5rem;
  border-bottom: var(--border);

}


.header__first-child{
  display:var(--main-display);
 
}
.header__second-child{
  display:var(--main-display);
  margin-left:10rem; 

}


.header__first-child__text1,
.header__first-child__text2{
  font-size:2.3rem;
  font-family: var(--font-one);
  font-weight: bold;
  color:var(--white);

}
.header__first-child__text2{
  color:var(--purple);

}
.header__second-child__text{
  padding-left:2.5rem;
  font-family: var(--font-two);
  font-size:1rem;
  font-weight: 400;
  color:var(--white);
 
}
.header__third-child__button{
  padding: 0.8rem 2.5rem;
  font-size: 1rem;
  font-family: var(--font-two);
  font-weight: 400;
  color:var(--white);
  background: var(--background-button);
  border:none;
  border-radius: 0.25rem;
 
}
.first-container{
  display:var(--main-display);
  justify-content: space-evenly;
  /* align-items: center; */
  background-color: var(--bg-color);
  padding-top: 2rem;
  padding-left: 5rem;
  position:relative;
  
}

.first-container__imageDiv{
  position: absolute;
  bottom:60px;
  left:-40px;
  background-blend-mode: hard-light;
  width: var(--main-display);
 
}

 .first-container__image{
  opacity: 0.5;
  filter: contrast(0.4) saturate(2) opacity(1) brightness(10.5px);
 }


.first-container__first-child{
  padding-top: 7rem;
  position: relative;
}



.first-container__text,
.first-container__text2{
  color: var(--white);
  font-family: Clash Display;
  font-size: 4rem;
  font-weight: 700;
  /* line-height: 1; */

}

.first-container__text2{
  color:var(--purple);
  padding-left: 0.5rem;
}
.first-container__container{
  display: var(--main-display);
  align-items: center;
  
}
.first-container__text3{
  color:var(--white);
  font-family: Montserrat;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 166%;
  
}
.first-container__first-child__button{
  padding: 0.6rem 2.2rem;
  font-size: 1rem;
  font-family: var(--font-two);
  font-weight: 400;
  color:var(--white);
  background: var(--background-button);
  border:none;
  border-radius: 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 4.8rem;
}

.first-container__text4{
  padding-right:2rem;
  color: var(--white);
  font-family: Unica One;
  font-weight: 400;
  font-size: 4rem;
}
.first-container__text5{
  color: var(--white);
  font-family: Montserrat;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 400;
}

.first-container__second-child__text{
  color: var(--white);
  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 700;
  /* padding-top: 3rem; */
  /* padding-right: 1rem; */
  
} 
.first-container__second-child__image1{
  display:var(--main-display);
  justify-content:end;
  width: var(--container-width);
  /* padding-right: 2rem; */
}

.first-container__second-child__container2{
  position: relative;
 
}

.first-container__second-child__image2{
  width:var(--container-width);
}


.first-container__second-child__image3{
  width:var(--container-width);
  position: absolute;
  top:-20px; 
  filter: brightness(1) opacity(0.8) 
  
  /* left: 100px; */
  /* right: 1000px; */
  /* opacity:1; */
  /* bottom:0px; */
  /* width:100%; */
  /* background-blend-mode: luminosity; */
}


.second-container{
  display:var(--main-display);
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-top: var(--border);
  
}

.second-container__first-child{
  position: relative;
}
.second-container__second-child{
  padding-left: 5rem;
}

.second-container__image1{
  position: absolute;
  top:14rem;
  left: -30px;
  
}

.second-container__image2{
  width:var(--container-width);
  padding-top: 3rem;
  padding-bottom: 3rem;
  
}

.second-container__text1,
.third-container__text1{
  color:var(--white);
  font-family: Clash Display;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: 1rem;
   
}
span{
  color:var(--purple);
}

.second-container__text2,
.third-container__text2{
  color:var(--white);
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.5px; /* 196.429% */
}
.second-container__text{
  position:absolute;
  top:18rem;
  left:-7px;
  right:0;
  color: var(--white);
  text-align: center;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 700;
  line-height: 122.5%; /* 29.4px */
  
}

.third-container{
  display:var(--main-display);
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  border-top: var(--border);
}
.third-container__first-child{
  padding-left: 8rem;
}
